body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:720px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u7687_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:570px;
}
#u7687 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:570px;
}
#u7688 {
  position:absolute;
  left:2px;
  top:277px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7689_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:359px;
}
#u7689 {
  position:absolute;
  left:0px;
  top:50px;
  width:320px;
  height:359px;
}
#u7690 {
  position:absolute;
  left:2px;
  top:172px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7691_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u7691 {
  position:absolute;
  left:280px;
  top:20px;
  width:30px;
  height:30px;
}
#u7692 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7693_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:28px;
}
#u7693 {
  position:absolute;
  left:100px;
  top:19px;
  width:100px;
  height:28px;
}
#u7694 {
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7695_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u7695 {
  position:absolute;
  left:120px;
  top:24px;
  width:81px;
  height:19px;
  font-size:16px;
}
#u7696 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u7697_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:130px;
}
#u7697 {
  position:absolute;
  left:10px;
  top:80px;
  width:300px;
  height:130px;
}
#u7698 {
  position:absolute;
  left:2px;
  top:57px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7699_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:65px;
}
#u7699 {
  position:absolute;
  left:30px;
  top:105px;
  width:65px;
  height:65px;
}
#u7700 {
  position:absolute;
  left:2px;
  top:24px;
  width:61px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7701_div {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
}
#u7701 {
  position:absolute;
  left:123px;
  top:105px;
  width:51px;
  height:13px;
  font-size:10px;
}
#u7702 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u7703_div {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u7703 {
  position:absolute;
  left:120px;
  top:136px;
  width:96px;
  height:19px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u7704 {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  white-space:nowrap;
}
#u7705_div {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
}
#u7705 {
  position:absolute;
  left:225px;
  top:157px;
  width:75px;
  height:13px;
  font-size:10px;
}
#u7706 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u7707_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:36px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
}
#u7707 {
  position:absolute;
  left:229px;
  top:121px;
  width:71px;
  height:19px;
  font-size:10px;
}
#u7708 {
  position:absolute;
  left:2px;
  top:3px;
  width:67px;
  word-wrap:break-word;
}
#u7709_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:570px;
}
#u7709 {
  position:absolute;
  left:400px;
  top:0px;
  width:320px;
  height:570px;
}
#u7710 {
  position:absolute;
  left:2px;
  top:277px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7711_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:359px;
}
#u7711 {
  position:absolute;
  left:400px;
  top:50px;
  width:320px;
  height:359px;
}
#u7712 {
  position:absolute;
  left:2px;
  top:172px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7713_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u7713 {
  position:absolute;
  left:680px;
  top:20px;
  width:30px;
  height:30px;
}
#u7714 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7715_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:28px;
}
#u7715 {
  position:absolute;
  left:500px;
  top:19px;
  width:100px;
  height:28px;
}
#u7716 {
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7717_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u7717 {
  position:absolute;
  left:520px;
  top:24px;
  width:81px;
  height:19px;
  font-size:16px;
}
#u7718 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u7719_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u7719 {
  position:absolute;
  left:511px;
  top:105px;
  width:99px;
  height:16px;
  color:#999999;
}
#u7720 {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  white-space:nowrap;
}
