body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:2030px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u22085_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1760px;
  height:706px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u22085 {
  position:absolute;
  left:0px;
  top:74px;
  width:1760px;
  height:706px;
}
#u22086 {
  position:absolute;
  left:2px;
  top:345px;
  width:1756px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22087_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:780px;
}
#u22087 {
  position:absolute;
  left:187px;
  top:0px;
  width:1px;
  height:779px;
}
#u22088 {
  position:absolute;
  left:2px;
  top:382px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22089_img {
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:780px;
}
#u22089 {
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:780px;
}
#u22090 {
  position:absolute;
  left:2px;
  top:382px;
  width:184px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22091_img {
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:703px;
}
#u22091 {
  position:absolute;
  left:0px;
  top:77px;
  width:188px;
  height:703px;
}
#u22092 {
  position:absolute;
  left:2px;
  top:344px;
  width:184px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22093_img {
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:653px;
}
#u22093 {
  position:absolute;
  left:0px;
  top:77px;
  width:188px;
  height:653px;
}
#u22094 {
  position:absolute;
  left:2px;
  top:318px;
  width:184px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22095_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u22095 {
  position:absolute;
  left:62px;
  top:334px;
  width:65px;
  height:19px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u22096 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u22097_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u22097 {
  position:absolute;
  left:62px;
  top:434px;
  width:65px;
  height:19px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u22098 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u22099_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u22099 {
  position:absolute;
  left:62px;
  top:485px;
  width:65px;
  height:19px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u22100 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u22101_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u22101 {
  position:absolute;
  left:62px;
  top:684px;
  width:65px;
  height:19px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u22102 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u22103_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u22103 {
  position:absolute;
  left:62px;
  top:534px;
  width:65px;
  height:19px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u22104 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u22105_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u22105 {
  position:absolute;
  left:62px;
  top:385px;
  width:65px;
  height:19px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u22106 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u22107_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u22107 {
  position:absolute;
  left:62px;
  top:584px;
  width:65px;
  height:19px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u22108 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u22109_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u22109 {
  position:absolute;
  left:62px;
  top:635px;
  width:65px;
  height:19px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u22110 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u22111 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u22112_img {
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:44px;
}
#u22112 {
  position:absolute;
  left:0px;
  top:280px;
  width:188px;
  height:44px;
}
#u22113 {
  position:absolute;
  left:2px;
  top:14px;
  width:184px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22114_div {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u22114 {
  position:absolute;
  left:60px;
  top:292px;
  width:55px;
  height:16px;
  color:#FFFFFF;
}
#u22115 {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  white-space:nowrap;
}
#u22116_img {
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:44px;
}
#u22116 {
  position:absolute;
  left:0px;
  top:236px;
  width:188px;
  height:44px;
}
#u22117 {
  position:absolute;
  left:2px;
  top:14px;
  width:184px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22118_div {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u22118 {
  position:absolute;
  left:60px;
  top:248px;
  width:55px;
  height:16px;
  color:#FFFFFF;
}
#u22119 {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  white-space:nowrap;
}
#u22120_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u22120 {
  position:absolute;
  left:14px;
  top:334px;
  width:24px;
  height:24px;
  font-size:10px;
  color:#FFFFFF;
}
#u22121 {
  position:absolute;
  left:2px;
  top:6px;
  width:20px;
  word-wrap:break-word;
}
#u22122_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u22122 {
  position:absolute;
  left:145px;
  top:339px;
  width:12px;
  height:12px;
}
#u22123 {
  position:absolute;
  left:2px;
  top:-2px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22124_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u22124 {
  position:absolute;
  left:14px;
  top:384px;
  width:24px;
  height:24px;
  font-size:10px;
  color:#FFFFFF;
}
#u22125 {
  position:absolute;
  left:2px;
  top:6px;
  width:20px;
  word-wrap:break-word;
}
#u22126_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u22126 {
  position:absolute;
  left:145px;
  top:389px;
  width:12px;
  height:12px;
}
#u22127 {
  position:absolute;
  left:2px;
  top:-2px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22128_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u22128 {
  position:absolute;
  left:14px;
  top:434px;
  width:24px;
  height:24px;
  font-size:10px;
  color:#FFFFFF;
}
#u22129 {
  position:absolute;
  left:2px;
  top:6px;
  width:20px;
  word-wrap:break-word;
}
#u22130_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u22130 {
  position:absolute;
  left:145px;
  top:439px;
  width:12px;
  height:12px;
}
#u22131 {
  position:absolute;
  left:2px;
  top:-2px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22132_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u22132 {
  position:absolute;
  left:14px;
  top:484px;
  width:24px;
  height:24px;
  font-size:10px;
  color:#FFFFFF;
}
#u22133 {
  position:absolute;
  left:2px;
  top:6px;
  width:20px;
  word-wrap:break-word;
}
#u22134_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u22134 {
  position:absolute;
  left:145px;
  top:489px;
  width:12px;
  height:12px;
}
#u22135 {
  position:absolute;
  left:2px;
  top:-2px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22136_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u22136 {
  position:absolute;
  left:14px;
  top:534px;
  width:24px;
  height:24px;
  font-size:10px;
  color:#FFFFFF;
}
#u22137 {
  position:absolute;
  left:2px;
  top:6px;
  width:20px;
  word-wrap:break-word;
}
#u22138_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u22138 {
  position:absolute;
  left:145px;
  top:539px;
  width:12px;
  height:12px;
}
#u22139 {
  position:absolute;
  left:2px;
  top:-2px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22140_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u22140 {
  position:absolute;
  left:14px;
  top:584px;
  width:24px;
  height:24px;
  font-size:10px;
  color:#FFFFFF;
}
#u22141 {
  position:absolute;
  left:2px;
  top:6px;
  width:20px;
  word-wrap:break-word;
}
#u22142_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u22142 {
  position:absolute;
  left:145px;
  top:589px;
  width:12px;
  height:12px;
}
#u22143 {
  position:absolute;
  left:2px;
  top:-2px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22144_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u22144 {
  position:absolute;
  left:14px;
  top:635px;
  width:24px;
  height:24px;
  font-size:10px;
  color:#FFFFFF;
}
#u22145 {
  position:absolute;
  left:2px;
  top:6px;
  width:20px;
  word-wrap:break-word;
}
#u22146_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u22146 {
  position:absolute;
  left:145px;
  top:640px;
  width:12px;
  height:12px;
}
#u22147 {
  position:absolute;
  left:2px;
  top:-2px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22148_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u22148 {
  position:absolute;
  left:145px;
  top:690px;
  width:12px;
  height:12px;
}
#u22149 {
  position:absolute;
  left:2px;
  top:-2px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22150_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u22150 {
  position:absolute;
  left:1547px;
  top:19px;
  width:32px;
  height:32px;
}
#u22151 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22152_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:32px;
}
#u22152 {
  position:absolute;
  left:1660px;
  top:21px;
  width:33px;
  height:32px;
}
#u22153 {
  position:absolute;
  left:2px;
  top:8px;
  width:29px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22154_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u22154 {
  position:absolute;
  left:1703px;
  top:29px;
  width:29px;
  height:16px;
}
#u22155 {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  white-space:nowrap;
}
#u22156_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u22156 {
  position:absolute;
  left:1430px;
  top:19px;
  width:32px;
  height:32px;
}
#u22157 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22158_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u22158 {
  position:absolute;
  left:1472px;
  top:27px;
  width:29px;
  height:16px;
}
#u22159 {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  white-space:nowrap;
}
#u22160_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u22160 {
  position:absolute;
  left:1449px;
  top:10px;
  width:24px;
  height:24px;
  color:#FFFFFF;
}
#u22161 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  word-wrap:break-word;
}
#u22162_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:24px;
  color:#FFFFFF;
}
#u22162 {
  position:absolute;
  left:80px;
  top:29px;
  width:97px;
  height:28px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:24px;
  color:#FFFFFF;
}
#u22163 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u22164_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:49px;
}
#u22164 {
  position:absolute;
  left:14px;
  top:15px;
  width:48px;
  height:48px;
  font-size:20px;
}
#u22165 {
  position:absolute;
  left:2px;
  top:12px;
  width:44px;
  word-wrap:break-word;
}
#u22166_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u22166 {
  position:absolute;
  left:60px;
  top:98px;
  width:65px;
  height:19px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u22167 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u22168_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u22168 {
  position:absolute;
  left:15px;
  top:97px;
  width:24px;
  height:24px;
  font-size:10px;
  color:#FFFFFF;
}
#u22169 {
  position:absolute;
  left:2px;
  top:6px;
  width:20px;
  word-wrap:break-word;
}
#u22170_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u22170 {
  position:absolute;
  left:146px;
  top:102px;
  width:12px;
  height:12px;
}
#u22171 {
  position:absolute;
  left:2px;
  top:-2px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22172_img {
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:60px;
}
#u22172 {
  position:absolute;
  left:0px;
  top:184px;
  width:188px;
  height:60px;
}
#u22173 {
  position:absolute;
  left:2px;
  top:22px;
  width:184px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22174_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u22174 {
  position:absolute;
  left:62px;
  top:201px;
  width:65px;
  height:19px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u22175 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u22176_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u22176 {
  position:absolute;
  left:16px;
  top:144px;
  width:24px;
  height:24px;
  font-size:10px;
  color:#FFFFFF;
}
#u22177 {
  position:absolute;
  left:2px;
  top:6px;
  width:20px;
  word-wrap:break-word;
}
#u22178_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u22178 {
  position:absolute;
  left:148px;
  top:149px;
  width:12px;
  height:12px;
}
#u22179 {
  position:absolute;
  left:2px;
  top:-2px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22180_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u22180 {
  position:absolute;
  left:14px;
  top:684px;
  width:24px;
  height:24px;
  font-size:10px;
  color:#FFFFFF;
}
#u22181 {
  position:absolute;
  left:2px;
  top:6px;
  width:20px;
  word-wrap:break-word;
}
#u22182_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u22182 {
  position:absolute;
  left:62px;
  top:146px;
  width:65px;
  height:19px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u22183 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u22184_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u22184 {
  position:absolute;
  left:16px;
  top:200px;
  width:24px;
  height:24px;
  font-size:10px;
  color:#FFFFFF;
}
#u22185 {
  position:absolute;
  left:2px;
  top:6px;
  width:20px;
  word-wrap:break-word;
}
#u22186_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u22186 {
  position:absolute;
  left:148px;
  top:205px;
  width:12px;
  height:12px;
}
#u22187 {
  position:absolute;
  left:2px;
  top:-2px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22188_div {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#000000;
}
#u22188 {
  position:absolute;
  left:224px;
  top:96px;
  width:41px;
  height:24px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#000000;
}
#u22189 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u22190_div {
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u22190 {
  position:absolute;
  left:233px;
  top:190px;
  width:7px;
  height:16px;
}
#u22191 {
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  visibility:hidden;
  white-space:nowrap;
}
#u22192_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1502px;
  height:59px;
}
#u22192 {
  position:absolute;
  left:234px;
  top:144px;
  width:1502px;
  height:59px;
}
#u22193 {
  position:absolute;
  left:2px;
  top:22px;
  width:1498px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22194_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1502px;
  height:166px;
}
#u22194 {
  position:absolute;
  left:234px;
  top:187px;
  width:1502px;
  height:166px;
}
#u22195 {
  position:absolute;
  left:2px;
  top:75px;
  width:1498px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22196_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u22196 {
  position:absolute;
  left:264px;
  top:158px;
  width:49px;
  height:19px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u22197 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u22198_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1504px;
  height:2px;
}
#u22198 {
  position:absolute;
  left:233px;
  top:187px;
  width:1503px;
  height:1px;
}
#u22199 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1499px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22200_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1504px;
  height:2px;
}
#u22200 {
  position:absolute;
  left:233px;
  top:269px;
  width:1503px;
  height:1px;
}
#u22201 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1499px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22202_div {
  position:absolute;
  left:0px;
  top:0px;
  width:209px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u22202 {
  position:absolute;
  left:370px;
  top:205px;
  width:209px;
  height:19px;
  font-size:16px;
}
#u22203 {
  position:absolute;
  left:0px;
  top:0px;
  width:209px;
  white-space:nowrap;
}
#u22204_div {
  position:absolute;
  left:0px;
  top:0px;
  width:559px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u22204 {
  position:absolute;
  left:370px;
  top:234px;
  width:559px;
  height:16px;
}
#u22205 {
  position:absolute;
  left:0px;
  top:0px;
  width:555px;
  white-space:nowrap;
}
#u22206_div {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#999999;
}
#u22206 {
  position:absolute;
  left:1581px;
  top:216px;
  width:130px;
  height:19px;
  font-size:16px;
  color:#999999;
}
#u22207 {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  white-space:nowrap;
}
#u22208_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u22208 {
  position:absolute;
  left:281px;
  top:211px;
  width:32px;
  height:32px;
}
#u22209 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22210_div {
  position:absolute;
  left:0px;
  top:0px;
  width:209px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u22210 {
  position:absolute;
  left:370px;
  top:291px;
  width:209px;
  height:19px;
  font-size:16px;
}
#u22211 {
  position:absolute;
  left:0px;
  top:0px;
  width:209px;
  white-space:nowrap;
}
#u22212_div {
  position:absolute;
  left:0px;
  top:0px;
  width:559px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u22212 {
  position:absolute;
  left:370px;
  top:320px;
  width:559px;
  height:16px;
}
#u22213 {
  position:absolute;
  left:0px;
  top:0px;
  width:555px;
  white-space:nowrap;
}
#u22214_div {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#999999;
}
#u22214 {
  position:absolute;
  left:1581px;
  top:304px;
  width:130px;
  height:19px;
  font-size:16px;
  color:#999999;
}
#u22215 {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  white-space:nowrap;
}
#u22216_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u22216 {
  position:absolute;
  left:281px;
  top:297px;
  width:32px;
  height:32px;
}
#u22217 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22218_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1504px;
  height:2px;
}
#u22218 {
  position:absolute;
  left:233px;
  top:352px;
  width:1503px;
  height:1px;
}
#u22219 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1499px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22220_img {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:11px;
}
#u22220 {
  position:absolute;
  left:303px;
  top:296px;
  width:11px;
  height:11px;
}
#u22221 {
  position:absolute;
  left:2px;
  top:-2px;
  width:7px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22222_img {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:11px;
}
#u22222 {
  position:absolute;
  left:302px;
  top:209px;
  width:11px;
  height:11px;
}
#u22223 {
  position:absolute;
  left:2px;
  top:-2px;
  width:7px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22224_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1502px;
  height:59px;
}
#u22224 {
  position:absolute;
  left:234px;
  top:381px;
  width:1502px;
  height:59px;
}
#u22225 {
  position:absolute;
  left:2px;
  top:22px;
  width:1498px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22226_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1502px;
  height:356px;
}
#u22226 {
  position:absolute;
  left:234px;
  top:424px;
  width:1502px;
  height:356px;
}
#u22227 {
  position:absolute;
  left:2px;
  top:170px;
  width:1498px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22228_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u22228 {
  position:absolute;
  left:264px;
  top:395px;
  width:65px;
  height:19px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u22229 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u22230_div {
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u22230 {
  position:absolute;
  left:233px;
  top:427px;
  width:7px;
  height:16px;
}
#u22231 {
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  visibility:hidden;
  white-space:nowrap;
}
#u22232_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1502px;
  height:166px;
}
#u22232 {
  position:absolute;
  left:234px;
  top:424px;
  width:1502px;
  height:166px;
}
#u22233 {
  position:absolute;
  left:2px;
  top:75px;
  width:1498px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22234_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1504px;
  height:2px;
}
#u22234 {
  position:absolute;
  left:233px;
  top:424px;
  width:1503px;
  height:1px;
}
#u22235 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1499px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22236_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1504px;
  height:2px;
}
#u22236 {
  position:absolute;
  left:233px;
  top:506px;
  width:1503px;
  height:1px;
}
#u22237 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1499px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22238_div {
  position:absolute;
  left:0px;
  top:0px;
  width:209px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u22238 {
  position:absolute;
  left:370px;
  top:442px;
  width:209px;
  height:19px;
  font-size:16px;
}
#u22239 {
  position:absolute;
  left:0px;
  top:0px;
  width:209px;
  white-space:nowrap;
}
#u22240_div {
  position:absolute;
  left:0px;
  top:0px;
  width:559px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u22240 {
  position:absolute;
  left:370px;
  top:471px;
  width:559px;
  height:16px;
}
#u22241 {
  position:absolute;
  left:0px;
  top:0px;
  width:555px;
  white-space:nowrap;
}
#u22242_div {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#999999;
}
#u22242 {
  position:absolute;
  left:1581px;
  top:453px;
  width:130px;
  height:19px;
  font-size:16px;
  color:#999999;
}
#u22243 {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  white-space:nowrap;
}
#u22244_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u22244 {
  position:absolute;
  left:281px;
  top:448px;
  width:32px;
  height:32px;
}
#u22245 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22246_div {
  position:absolute;
  left:0px;
  top:0px;
  width:209px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u22246 {
  position:absolute;
  left:370px;
  top:528px;
  width:209px;
  height:19px;
  font-size:16px;
}
#u22247 {
  position:absolute;
  left:0px;
  top:0px;
  width:209px;
  white-space:nowrap;
}
#u22248_div {
  position:absolute;
  left:0px;
  top:0px;
  width:559px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u22248 {
  position:absolute;
  left:370px;
  top:557px;
  width:559px;
  height:16px;
}
#u22249 {
  position:absolute;
  left:0px;
  top:0px;
  width:555px;
  white-space:nowrap;
}
#u22250_div {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#999999;
}
#u22250 {
  position:absolute;
  left:1581px;
  top:541px;
  width:130px;
  height:19px;
  font-size:16px;
  color:#999999;
}
#u22251 {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  white-space:nowrap;
}
#u22252_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u22252 {
  position:absolute;
  left:281px;
  top:534px;
  width:32px;
  height:32px;
}
#u22253 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22254_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1504px;
  height:2px;
}
#u22254 {
  position:absolute;
  left:233px;
  top:589px;
  width:1503px;
  height:1px;
}
#u22255 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1499px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22256_div {
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u22256 {
  position:absolute;
  left:233px;
  top:592px;
  width:7px;
  height:16px;
}
#u22257 {
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  visibility:hidden;
  white-space:nowrap;
}
#u22258_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1502px;
  height:166px;
}
#u22258 {
  position:absolute;
  left:234px;
  top:589px;
  width:1502px;
  height:166px;
}
#u22259 {
  position:absolute;
  left:2px;
  top:75px;
  width:1498px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22260_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1504px;
  height:2px;
}
#u22260 {
  position:absolute;
  left:233px;
  top:671px;
  width:1503px;
  height:1px;
}
#u22261 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1499px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22262_div {
  position:absolute;
  left:0px;
  top:0px;
  width:209px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u22262 {
  position:absolute;
  left:370px;
  top:607px;
  width:209px;
  height:19px;
  font-size:16px;
}
#u22263 {
  position:absolute;
  left:0px;
  top:0px;
  width:209px;
  white-space:nowrap;
}
#u22264_div {
  position:absolute;
  left:0px;
  top:0px;
  width:559px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u22264 {
  position:absolute;
  left:370px;
  top:636px;
  width:559px;
  height:16px;
}
#u22265 {
  position:absolute;
  left:0px;
  top:0px;
  width:555px;
  white-space:nowrap;
}
#u22266_div {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#999999;
}
#u22266 {
  position:absolute;
  left:1581px;
  top:618px;
  width:130px;
  height:19px;
  font-size:16px;
  color:#999999;
}
#u22267 {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  white-space:nowrap;
}
#u22268_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u22268 {
  position:absolute;
  left:281px;
  top:613px;
  width:32px;
  height:32px;
}
#u22269 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22270_div {
  position:absolute;
  left:0px;
  top:0px;
  width:209px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u22270 {
  position:absolute;
  left:370px;
  top:693px;
  width:209px;
  height:19px;
  font-size:16px;
}
#u22271 {
  position:absolute;
  left:0px;
  top:0px;
  width:209px;
  white-space:nowrap;
}
#u22272_div {
  position:absolute;
  left:0px;
  top:0px;
  width:559px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u22272 {
  position:absolute;
  left:370px;
  top:722px;
  width:559px;
  height:16px;
}
#u22273 {
  position:absolute;
  left:0px;
  top:0px;
  width:555px;
  white-space:nowrap;
}
#u22274_div {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#999999;
}
#u22274 {
  position:absolute;
  left:1581px;
  top:706px;
  width:130px;
  height:19px;
  font-size:16px;
  color:#999999;
}
#u22275 {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  white-space:nowrap;
}
#u22276_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u22276 {
  position:absolute;
  left:281px;
  top:699px;
  width:32px;
  height:32px;
}
#u22277 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22278_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1504px;
  height:2px;
}
#u22278 {
  position:absolute;
  left:233px;
  top:754px;
  width:1503px;
  height:1px;
}
#u22279 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1499px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22280_div {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:66px;
  background:inherit;
  background-color:rgba(208, 225, 125, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u22280 {
  position:absolute;
  left:1810px;
  top:134px;
  width:220px;
  height:66px;
}
#u22281 {
  position:absolute;
  left:10px;
  top:10px;
  width:200px;
  word-wrap:break-word;
}
#u22282 {
  position:absolute;
  left:234px;
  top:187px;
  width:1502px;
  height:83px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u22283 {
  position:absolute;
  left:234px;
  top:270px;
  width:1502px;
  height:83px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
