body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1140px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1975_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:570px;
}
#u1975 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:570px;
}
#u1976 {
  position:absolute;
  left:2px;
  top:277px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1977_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:325px;
}
#u1977 {
  position:absolute;
  left:0px;
  top:86px;
  width:320px;
  height:325px;
}
#u1978 {
  position:absolute;
  left:2px;
  top:154px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1979_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:143px;
}
#u1979 {
  position:absolute;
  left:0px;
  top:86px;
  width:320px;
  height:143px;
}
#u1980 {
  position:absolute;
  left:2px;
  top:64px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1981_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:30px;
}
#u1981 {
  position:absolute;
  left:240px;
  top:156px;
  width:73px;
  height:30px;
}
#u1982 {
  position:absolute;
  left:2px;
  top:7px;
  width:69px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1983_div {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  color:#F3C547;
}
#u1983 {
  position:absolute;
  left:272px;
  top:165px;
  width:31px;
  height:13px;
  font-size:10px;
  color:#F3C547;
}
#u1984 {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  white-space:nowrap;
}
#u1985_img {
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:30px;
}
#u1985 {
  position:absolute;
  left:165px;
  top:196px;
  width:148px;
  height:30px;
}
#u1986 {
  position:absolute;
  left:2px;
  top:7px;
  width:144px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1987_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:25px;
}
#u1987 {
  position:absolute;
  left:233px;
  top:199px;
  width:70px;
  height:25px;
  font-size:12px;
  color:#FFFFFF;
}
#u1988 {
  position:absolute;
  left:2px;
  top:6px;
  width:66px;
  word-wrap:break-word;
}
#u1989_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:25px;
}
#u1989 {
  position:absolute;
  left:270px;
  top:91px;
  width:40px;
  height:25px;
}
#u1990 {
  position:absolute;
  left:2px;
  top:4px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1991_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:22px;
}
#u1991 {
  position:absolute;
  left:301px;
  top:94px;
  width:9px;
  height:22px;
  color:#999999;
}
#u1992 {
  position:absolute;
  left:2px;
  top:3px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1993_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  color:#999999;
}
#u1993 {
  position:absolute;
  left:77px;
  top:176px;
  width:85px;
  height:13px;
  font-size:10px;
  color:#999999;
}
#u1994 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u1995_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:40px;
}
#u1995 {
  position:absolute;
  left:75px;
  top:136px;
  width:75px;
  height:40px;
}
#u1996 {
  position:absolute;
  left:2px;
  top:12px;
  width:71px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1997_div {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  color:#666666;
}
#u1997 {
  position:absolute;
  left:77px;
  top:142px;
  width:41px;
  height:13px;
  font-size:10px;
  color:#666666;
}
#u1998 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u1999_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:10px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:8px;
  color:#AEAEAE;
}
#u1999 {
  position:absolute;
  left:77px;
  top:161px;
  width:33px;
  height:10px;
  font-size:8px;
  color:#AEAEAE;
}
#u2000 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u2001_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:58px;
}
#u2001 {
  position:absolute;
  left:15px;
  top:129px;
  width:52px;
  height:58px;
}
#u2002 {
  position:absolute;
  left:2px;
  top:21px;
  width:48px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2003_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:510px;
}
#u2003 {
  position:absolute;
  left:0px;
  top:560px;
  width:320px;
  height:510px;
}
#u2004 {
  position:absolute;
  left:2px;
  top:247px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2005_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2005 {
  position:absolute;
  left:13px;
  top:203px;
  width:57px;
  height:16px;
}
#u2006 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u2007_img {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:40px;
}
#u2007 {
  position:absolute;
  left:72px;
  top:1080px;
  width:176px;
  height:40px;
  color:#666666;
}
#u2008 {
  position:absolute;
  left:2px;
  top:12px;
  width:172px;
  word-wrap:break-word;
}
#u2009_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u2009 {
  position:absolute;
  left:25px;
  top:142px;
  width:32px;
  height:32px;
}
#u2010 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2011_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:143px;
}
#u2011 {
  position:absolute;
  left:0px;
  top:247px;
  width:320px;
  height:143px;
}
#u2012 {
  position:absolute;
  left:2px;
  top:64px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2013_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:30px;
}
#u2013 {
  position:absolute;
  left:240px;
  top:317px;
  width:73px;
  height:30px;
}
#u2014 {
  position:absolute;
  left:2px;
  top:7px;
  width:69px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2015_img {
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:30px;
}
#u2015 {
  position:absolute;
  left:165px;
  top:357px;
  width:148px;
  height:30px;
}
#u2016 {
  position:absolute;
  left:2px;
  top:7px;
  width:144px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2017_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:25px;
}
#u2017 {
  position:absolute;
  left:270px;
  top:252px;
  width:40px;
  height:25px;
}
#u2018 {
  position:absolute;
  left:2px;
  top:4px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2019_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:22px;
}
#u2019 {
  position:absolute;
  left:301px;
  top:255px;
  width:9px;
  height:22px;
  color:#999999;
}
#u2020 {
  position:absolute;
  left:2px;
  top:3px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2021_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  color:#999999;
}
#u2021 {
  position:absolute;
  left:77px;
  top:337px;
  width:85px;
  height:13px;
  font-size:10px;
  color:#999999;
}
#u2022 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u2023_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:40px;
}
#u2023 {
  position:absolute;
  left:75px;
  top:297px;
  width:75px;
  height:40px;
}
#u2024 {
  position:absolute;
  left:2px;
  top:12px;
  width:71px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2025_div {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  color:#666666;
}
#u2025 {
  position:absolute;
  left:77px;
  top:303px;
  width:41px;
  height:13px;
  font-size:10px;
  color:#666666;
}
#u2026 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u2027_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:10px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:8px;
  color:#AEAEAE;
}
#u2027 {
  position:absolute;
  left:77px;
  top:322px;
  width:33px;
  height:10px;
  font-size:8px;
  color:#AEAEAE;
}
#u2028 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u2029_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:58px;
}
#u2029 {
  position:absolute;
  left:15px;
  top:290px;
  width:52px;
  height:58px;
}
#u2030 {
  position:absolute;
  left:2px;
  top:21px;
  width:48px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2031_div {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  color:#666666;
}
#u2031 {
  position:absolute;
  left:272px;
  top:325px;
  width:31px;
  height:13px;
  font-size:10px;
  color:#666666;
}
#u2032 {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  white-space:nowrap;
}
#u2033_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2033 {
  position:absolute;
  left:15px;
  top:364px;
  width:57px;
  height:16px;
}
#u2034 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u2035_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u2035 {
  position:absolute;
  left:25px;
  top:303px;
  width:32px;
  height:32px;
}
#u2036 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2037_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:143px;
}
#u2037 {
  position:absolute;
  left:0px;
  top:407px;
  width:320px;
  height:143px;
}
#u2038 {
  position:absolute;
  left:2px;
  top:64px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2039_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:30px;
}
#u2039 {
  position:absolute;
  left:240px;
  top:477px;
  width:73px;
  height:30px;
}
#u2040 {
  position:absolute;
  left:2px;
  top:7px;
  width:69px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2041_img {
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:30px;
}
#u2041 {
  position:absolute;
  left:165px;
  top:517px;
  width:148px;
  height:30px;
}
#u2042 {
  position:absolute;
  left:2px;
  top:7px;
  width:144px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2043_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:25px;
}
#u2043 {
  position:absolute;
  left:270px;
  top:412px;
  width:40px;
  height:25px;
}
#u2044 {
  position:absolute;
  left:2px;
  top:4px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2045_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:22px;
}
#u2045 {
  position:absolute;
  left:301px;
  top:415px;
  width:9px;
  height:22px;
  color:#999999;
}
#u2046 {
  position:absolute;
  left:2px;
  top:3px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2047_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  color:#999999;
}
#u2047 {
  position:absolute;
  left:77px;
  top:497px;
  width:85px;
  height:13px;
  font-size:10px;
  color:#999999;
}
#u2048 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u2049_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:40px;
}
#u2049 {
  position:absolute;
  left:75px;
  top:457px;
  width:75px;
  height:40px;
}
#u2050 {
  position:absolute;
  left:2px;
  top:12px;
  width:71px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2051_div {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  color:#666666;
}
#u2051 {
  position:absolute;
  left:77px;
  top:463px;
  width:41px;
  height:13px;
  font-size:10px;
  color:#666666;
}
#u2052 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u2053_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:10px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:8px;
  color:#AEAEAE;
}
#u2053 {
  position:absolute;
  left:77px;
  top:482px;
  width:33px;
  height:10px;
  font-size:8px;
  color:#AEAEAE;
}
#u2054 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u2055_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:58px;
}
#u2055 {
  position:absolute;
  left:15px;
  top:450px;
  width:52px;
  height:58px;
}
#u2056 {
  position:absolute;
  left:2px;
  top:21px;
  width:48px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2057_div {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  color:#666666;
}
#u2057 {
  position:absolute;
  left:254px;
  top:485px;
  width:51px;
  height:13px;
  font-size:10px;
  color:#666666;
}
#u2058 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u2059_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u2059 {
  position:absolute;
  left:25px;
  top:463px;
  width:32px;
  height:32px;
}
#u2060 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2061_div {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u2061 {
  position:absolute;
  left:241px;
  top:520px;
  width:70px;
  height:23px;
  font-size:12px;
}
#u2062 {
  position:absolute;
  left:2px;
  top:4px;
  width:66px;
  word-wrap:break-word;
}
#u2063_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2063 {
  position:absolute;
  left:13px;
  top:523px;
  width:57px;
  height:16px;
}
#u2064 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u2065_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:143px;
}
#u2065 {
  position:absolute;
  left:0px;
  top:569px;
  width:320px;
  height:143px;
}
#u2066 {
  position:absolute;
  left:2px;
  top:64px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2067_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:30px;
}
#u2067 {
  position:absolute;
  left:240px;
  top:639px;
  width:73px;
  height:30px;
}
#u2068 {
  position:absolute;
  left:2px;
  top:7px;
  width:69px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2069_img {
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:30px;
}
#u2069 {
  position:absolute;
  left:165px;
  top:679px;
  width:148px;
  height:30px;
}
#u2070 {
  position:absolute;
  left:2px;
  top:7px;
  width:144px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2071_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:25px;
}
#u2071 {
  position:absolute;
  left:270px;
  top:574px;
  width:40px;
  height:25px;
}
#u2072 {
  position:absolute;
  left:2px;
  top:4px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2073_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:22px;
}
#u2073 {
  position:absolute;
  left:301px;
  top:577px;
  width:9px;
  height:22px;
  color:#999999;
}
#u2074 {
  position:absolute;
  left:2px;
  top:3px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2075_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  color:#999999;
}
#u2075 {
  position:absolute;
  left:77px;
  top:659px;
  width:85px;
  height:13px;
  font-size:10px;
  color:#999999;
}
#u2076 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u2077_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:40px;
}
#u2077 {
  position:absolute;
  left:75px;
  top:619px;
  width:75px;
  height:40px;
}
#u2078 {
  position:absolute;
  left:2px;
  top:12px;
  width:71px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2079_div {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  color:#666666;
}
#u2079 {
  position:absolute;
  left:77px;
  top:625px;
  width:41px;
  height:13px;
  font-size:10px;
  color:#666666;
}
#u2080 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u2081_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:10px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:8px;
  color:#AEAEAE;
}
#u2081 {
  position:absolute;
  left:77px;
  top:644px;
  width:33px;
  height:10px;
  font-size:8px;
  color:#AEAEAE;
}
#u2082 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u2083_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:58px;
}
#u2083 {
  position:absolute;
  left:15px;
  top:612px;
  width:52px;
  height:58px;
}
#u2084 {
  position:absolute;
  left:2px;
  top:21px;
  width:48px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2085_div {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  color:#666666;
}
#u2085 {
  position:absolute;
  left:251px;
  top:647px;
  width:51px;
  height:13px;
  font-size:10px;
  color:#666666;
}
#u2086 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u2087_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u2087 {
  position:absolute;
  left:25px;
  top:625px;
  width:32px;
  height:32px;
}
#u2088 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2089_div {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u2089 {
  position:absolute;
  left:241px;
  top:682px;
  width:70px;
  height:23px;
  font-size:12px;
}
#u2090 {
  position:absolute;
  left:2px;
  top:4px;
  width:66px;
  word-wrap:break-word;
}
#u2091_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2091 {
  position:absolute;
  left:13px;
  top:685px;
  width:57px;
  height:16px;
}
#u2092 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u2093_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:143px;
}
#u2093 {
  position:absolute;
  left:0px;
  top:730px;
  width:320px;
  height:143px;
}
#u2094 {
  position:absolute;
  left:2px;
  top:64px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2095_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:30px;
}
#u2095 {
  position:absolute;
  left:240px;
  top:800px;
  width:73px;
  height:30px;
}
#u2096 {
  position:absolute;
  left:2px;
  top:7px;
  width:69px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2097_img {
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:30px;
}
#u2097 {
  position:absolute;
  left:165px;
  top:840px;
  width:148px;
  height:30px;
}
#u2098 {
  position:absolute;
  left:2px;
  top:7px;
  width:144px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2099_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:25px;
}
#u2099 {
  position:absolute;
  left:270px;
  top:735px;
  width:40px;
  height:25px;
}
#u2100 {
  position:absolute;
  left:2px;
  top:4px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2101_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:22px;
}
#u2101 {
  position:absolute;
  left:301px;
  top:738px;
  width:9px;
  height:22px;
  color:#999999;
}
#u2102 {
  position:absolute;
  left:2px;
  top:3px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2103_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  color:#999999;
}
#u2103 {
  position:absolute;
  left:77px;
  top:820px;
  width:85px;
  height:13px;
  font-size:10px;
  color:#999999;
}
#u2104 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u2105_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:40px;
}
#u2105 {
  position:absolute;
  left:75px;
  top:780px;
  width:75px;
  height:40px;
}
#u2106 {
  position:absolute;
  left:2px;
  top:12px;
  width:71px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2107_div {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  color:#666666;
}
#u2107 {
  position:absolute;
  left:77px;
  top:786px;
  width:41px;
  height:13px;
  font-size:10px;
  color:#666666;
}
#u2108 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u2109_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:10px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:8px;
  color:#AEAEAE;
}
#u2109 {
  position:absolute;
  left:77px;
  top:805px;
  width:33px;
  height:10px;
  font-size:8px;
  color:#AEAEAE;
}
#u2110 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u2111_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:58px;
}
#u2111 {
  position:absolute;
  left:15px;
  top:773px;
  width:52px;
  height:58px;
}
#u2112 {
  position:absolute;
  left:2px;
  top:21px;
  width:48px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2113_div {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  color:#666666;
}
#u2113 {
  position:absolute;
  left:251px;
  top:808px;
  width:51px;
  height:13px;
  font-size:10px;
  color:#666666;
}
#u2114 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u2115_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u2115 {
  position:absolute;
  left:25px;
  top:786px;
  width:32px;
  height:32px;
}
#u2116 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2117_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2117 {
  position:absolute;
  left:13px;
  top:846px;
  width:57px;
  height:16px;
}
#u2118 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u2119_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:143px;
}
#u2119 {
  position:absolute;
  left:0px;
  top:900px;
  width:320px;
  height:143px;
}
#u2120 {
  position:absolute;
  left:2px;
  top:64px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2121_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:30px;
}
#u2121 {
  position:absolute;
  left:240px;
  top:970px;
  width:73px;
  height:30px;
}
#u2122 {
  position:absolute;
  left:2px;
  top:7px;
  width:69px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2123_img {
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:30px;
}
#u2123 {
  position:absolute;
  left:165px;
  top:1010px;
  width:148px;
  height:30px;
}
#u2124 {
  position:absolute;
  left:2px;
  top:7px;
  width:144px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2125_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:25px;
}
#u2125 {
  position:absolute;
  left:270px;
  top:905px;
  width:40px;
  height:25px;
}
#u2126 {
  position:absolute;
  left:2px;
  top:4px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2127_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:22px;
}
#u2127 {
  position:absolute;
  left:301px;
  top:908px;
  width:9px;
  height:22px;
  color:#999999;
}
#u2128 {
  position:absolute;
  left:2px;
  top:3px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2129_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  color:#999999;
}
#u2129 {
  position:absolute;
  left:77px;
  top:990px;
  width:85px;
  height:13px;
  font-size:10px;
  color:#999999;
}
#u2130 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u2131_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:40px;
}
#u2131 {
  position:absolute;
  left:75px;
  top:950px;
  width:75px;
  height:40px;
}
#u2132 {
  position:absolute;
  left:2px;
  top:12px;
  width:71px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2133_div {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  color:#666666;
}
#u2133 {
  position:absolute;
  left:77px;
  top:956px;
  width:41px;
  height:13px;
  font-size:10px;
  color:#666666;
}
#u2134 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u2135_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:10px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:8px;
  color:#AEAEAE;
}
#u2135 {
  position:absolute;
  left:77px;
  top:975px;
  width:33px;
  height:10px;
  font-size:8px;
  color:#AEAEAE;
}
#u2136 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u2137_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:58px;
}
#u2137 {
  position:absolute;
  left:15px;
  top:943px;
  width:52px;
  height:58px;
}
#u2138 {
  position:absolute;
  left:2px;
  top:21px;
  width:48px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2139_div {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  color:#666666;
}
#u2139 {
  position:absolute;
  left:251px;
  top:978px;
  width:51px;
  height:13px;
  font-size:10px;
  color:#666666;
}
#u2140 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u2141_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u2141 {
  position:absolute;
  left:25px;
  top:956px;
  width:32px;
  height:32px;
}
#u2142 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2143_div {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u2143 {
  position:absolute;
  left:241px;
  top:1013px;
  width:70px;
  height:23px;
  font-size:12px;
}
#u2144 {
  position:absolute;
  left:2px;
  top:4px;
  width:66px;
  word-wrap:break-word;
}
#u2145_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2145 {
  position:absolute;
  left:13px;
  top:1016px;
  width:57px;
  height:16px;
}
#u2146 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u2147_div {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u2147 {
  position:absolute;
  left:161px;
  top:1014px;
  width:70px;
  height:23px;
  font-size:12px;
}
#u2148 {
  position:absolute;
  left:2px;
  top:4px;
  width:66px;
  word-wrap:break-word;
}
#u2149_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:517px;
  background:inherit;
  background-color:rgba(247, 247, 247, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2149 {
  position:absolute;
  left:400px;
  top:48px;
  width:320px;
  height:517px;
}
#u2150 {
  position:absolute;
  left:2px;
  top:250px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2151_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:51px;
}
#u2151 {
  position:absolute;
  left:400px;
  top:0px;
  width:320px;
  height:51px;
}
#u2152 {
  position:absolute;
  left:2px;
  top:18px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2153_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:26px;
}
#u2153 {
  position:absolute;
  left:526px;
  top:22px;
  width:74px;
  height:26px;
}
#u2154 {
  position:absolute;
  left:2px;
  top:5px;
  width:70px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2155_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u2155 {
  position:absolute;
  left:531px;
  top:22px;
  width:65px;
  height:19px;
  font-size:16px;
}
#u2156 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u2157_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:109px;
}
#u2157 {
  position:absolute;
  left:400px;
  top:61px;
  width:320px;
  height:109px;
}
#u2158 {
  position:absolute;
  left:2px;
  top:46px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2159_div {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#CCCCCC;
}
#u2159 {
  position:absolute;
  left:676px;
  top:145px;
  width:32px;
  height:15px;
  font-size:12px;
  color:#CCCCCC;
}
#u2160 {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  white-space:nowrap;
}
#u2161_div {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2161 {
  position:absolute;
  left:410px;
  top:70px;
  width:155px;
  height:16px;
}
#u2162 {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  white-space:nowrap;
}
#u2163 {
  position:absolute;
  left:492px;
  top:190px;
  width:140px;
  height:25px;
}
#u2163_input {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u2164_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:517px;
  background:inherit;
  background-color:rgba(247, 247, 247, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2164 {
  position:absolute;
  left:820px;
  top:48px;
  width:320px;
  height:517px;
}
#u2165 {
  position:absolute;
  left:2px;
  top:250px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2166_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:51px;
}
#u2166 {
  position:absolute;
  left:820px;
  top:0px;
  width:320px;
  height:51px;
}
#u2167 {
  position:absolute;
  left:2px;
  top:18px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2168_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:26px;
}
#u2168 {
  position:absolute;
  left:946px;
  top:22px;
  width:74px;
  height:26px;
}
#u2169 {
  position:absolute;
  left:2px;
  top:5px;
  width:70px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2170_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u2170 {
  position:absolute;
  left:951px;
  top:22px;
  width:65px;
  height:19px;
  font-size:16px;
}
#u2171 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u2172_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:109px;
}
#u2172 {
  position:absolute;
  left:820px;
  top:61px;
  width:320px;
  height:109px;
}
#u2173 {
  position:absolute;
  left:2px;
  top:46px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2174_div {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#CCCCCC;
}
#u2174 {
  position:absolute;
  left:1096px;
  top:145px;
  width:32px;
  height:15px;
  font-size:12px;
  color:#CCCCCC;
}
#u2175 {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  white-space:nowrap;
}
#u2176 {
  position:absolute;
  left:914px;
  top:190px;
  width:140px;
  height:25px;
}
#u2176_input {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u2177 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2178_div {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:50px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.537254901960784);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:33px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u2178 {
  position:absolute;
  left:895px;
  top:120px;
  width:170px;
  height:50px;
  color:#FFFFFF;
}
#u2179 {
  position:absolute;
  left:2px;
  top:17px;
  width:166px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2180_div {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#FFFFFF;
}
#u2180 {
  position:absolute;
  left:908px;
  top:137px;
  width:142px;
  height:15px;
  font-size:13px;
  color:#FFFFFF;
}
#u2181 {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  white-space:nowrap;
}
