body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:320px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u8889_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:529px;
  background:inherit;
  background-color:rgba(251, 251, 251, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8889 {
  position:absolute;
  left:0px;
  top:48px;
  width:320px;
  height:529px;
}
#u8890 {
  position:absolute;
  left:2px;
  top:256px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8891_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:51px;
}
#u8891 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:51px;
}
#u8892 {
  position:absolute;
  left:2px;
  top:18px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8893_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:26px;
}
#u8893 {
  position:absolute;
  left:126px;
  top:22px;
  width:74px;
  height:26px;
}
#u8894 {
  position:absolute;
  left:2px;
  top:5px;
  width:70px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8895_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u8895 {
  position:absolute;
  left:145px;
  top:16px;
  width:37px;
  height:22px;
  font-size:18px;
}
#u8896 {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  white-space:nowrap;
}
#u8897_img {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:2px;
}
#u8897 {
  position:absolute;
  left:63px;
  top:109px;
  width:200px;
  height:1px;
}
#u8898 {
  position:absolute;
  left:2px;
  top:-8px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8899_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u8899 {
  position:absolute;
  left:63px;
  top:90px;
  width:85px;
  height:16px;
  color:#999999;
}
#u8900 {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  white-space:nowrap;
}
#u8901_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u8901 {
  position:absolute;
  left:24px;
  top:90px;
  width:24px;
  height:24px;
}
#u8902 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8903_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8903 {
  position:absolute;
  left:280px;
  top:19px;
  width:29px;
  height:16px;
}
#u8904 {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  white-space:nowrap;
}
#u8905_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:50px;
}
#u8905 {
  position:absolute;
  left:10px;
  top:230px;
  width:300px;
  height:50px;
  font-size:14px;
  color:#FFFFFF;
}
#u8906 {
  position:absolute;
  left:2px;
  top:16px;
  width:296px;
  word-wrap:break-word;
}
#u8907_img {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:2px;
}
#u8907 {
  position:absolute;
  left:63px;
  top:165px;
  width:200px;
  height:1px;
}
#u8908 {
  position:absolute;
  left:2px;
  top:-8px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8909_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u8909 {
  position:absolute;
  left:63px;
  top:146px;
  width:71px;
  height:16px;
  color:#999999;
}
#u8910 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u8911_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u8911 {
  position:absolute;
  left:24px;
  top:146px;
  width:24px;
  height:24px;
}
#u8912 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8913_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8913 {
  position:absolute;
  left:206px;
  top:176px;
  width:57px;
  height:16px;
}
#u8914 {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  white-space:nowrap;
}
#u8915_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:28px;
}
#u8915 {
  position:absolute;
  left:270px;
  top:134px;
  width:28px;
  height:28px;
}
#u8916 {
  position:absolute;
  left:2px;
  top:6px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
